<div id="login">
  <mat-card>
    <div class="form-container">
      <h3 class="form-title color-primary">Iniciar Sesión</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <app-input [type]="'text'" [placeholder]="'Nombre'" [control]="loginForm.get('name')"></app-input>
          </div>
          <div class="col">
            <app-input [type]="'text'" [placeholder]="'Apellido'" [control]="loginForm.get('lastname')"></app-input>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <app-input [type]="'number'" [placeholder]="'DNI'" [control]="loginForm.get('dni')"></app-input>
            <mat-error *ngIf="showError && loginForm.get('dni').hasError('pattern')">Ingrese un número de DNI válido</mat-error>
          </div>
          <div class="col">
            <app-input [type]="'email'" [placeholder]="'Email'" [control]="loginForm.get('email')"></app-input>
            <mat-hint *ngIf="loginForm.get('email').hasError('email')">Mail inválido</mat-hint>
          </div>
        </div>
        <div class="row">
          <app-input [prefix]="'+54 9 011'" [type]="'number'" [placeholder]="'tel ej: 12345555'" [control]="loginForm.get('phoneNumber')"></app-input>
          <mat-error *ngIf="showError && loginForm.get('phoneNumber').hasError('pattern')">Ingrese un número de telefono válido</mat-error>
        </div>
        <mat-card-actions>
            <button mat-button type="submit" class="full-width form-button">Log In</button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
  <!-- <mat-card class="display">
    <h3>Iniciar Sesión</h3>
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <app-input [type]="'text'" [placeholder]="'Name'" [control]="loginForm.get('name')"></app-input>

        <app-input [type]="'text'" [placeholder]="'Lastname'" [control]="loginForm.get('lastname')"></app-input>

        <app-input [type]="'number'" [placeholder]="'DNI'" [control]="loginForm.get('dni')"></app-input>
        <mat-error *ngIf="showError && loginForm.get('dni').hasError('pattern')">Ingrese un número de DNI válido</mat-error>

        <app-input [type]="'email'" [placeholder]="'Email'" [control]="loginForm.get('email')"></app-input>
        <mat-hint *ngIf="loginForm.get('email').hasError('email')">Mail inválido</mat-hint>

        <app-input [prefix]="'+54 9 011'" [type]="'number'" [placeholder]="'Ejemplo: 12345555'" [control]="loginForm.get('phoneNumber')"></app-input>
        <mat-error *ngIf="showError && loginForm.get('phoneNumber').hasError('pattern')">Ingrese un número de telefono válido</mat-error>
        <button type="submit">Submit</button>
      </form>
    </div>

  </mat-card> -->
</div>
