<!-- Nombre, imagen, precio (con el formateo a pesos correspondiente), subcategoría a la
cual pertenece y botón para agregar al carro de compras. -->
<mat-card class="card mat-elevation-z2 txt-center">
  <!-- SUBCATEGORÍA  -->
  <div class="category-info-position">
    <span class="text-mute no-select" selected> {{product.categoryName}} </span>
  </div>
  <!-- BOTÓN CARRITO -->
  <div class="cart-position">
    <button  mat-icon-button *ngIf="!onCart" (click)="addToCart()" class="bg-primary mat-elevation-z1" aria-label="botón para agregar producto al carrito">
      <mat-icon matBadge="{{ quantity }}">add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button *ngIf="onCart" (click)="removeFromCart()" class="border bg-secondary mat-elevation-z1" aria-label="botón para remover producto del carrito">
      <mat-icon>remove_shopping_cart</mat-icon>
    </button>
  </div>
  <!-- IMAGEN PRODUCTO -->
  <div class="header-img pointer">
    <img [src]="product.imagenes[0].nombre | medImage"
    class="img-fluid p-4 mh-100" alt="">
  </div>
  <mat-card-content>
    <!-- PRECIO -->
    <div class="flex-row">
      <h2 class="price">{{ product.precio | priceFormat}} </h2>
      <span class="color-accent">12 Cuotas sin interes</span>
    </div>
    <!-- TITULO  -->
    <h4 class="card-title truncate-lines pointer">
      <span *ngIf="onCart" class="font-20-b color-contrast-d">{{ quantity }} x &nbsp;</span>{{ product.nombre }}
    </h4>
  </mat-card-content>
</mat-card>
