<div id="navbar">
  <mat-toolbar class="display-flex-row mat-elevation-z1" color="primary">
    <img alt="Logo Compra Gamer" class="pointer" routerLink="/product" (click)="resetFilter()" src="https://compragamer.net/assets/img/logo-fix.png">
    <a mat-button (click)="toggleExpandable()" routerLink="/product">Categorías
      <mat-icon [@iconAnimation]="isExpanded ? 'expanded' : 'collapsed'">
        {{ 'keyboard_arrow_down' }}
      </mat-icon>
    </a>
    <a mat-button routerLink="soon" (click)="resetFilter()">Armá tu PC</a>
    <a mat-button routerLink="soon" (click)="resetFilter()">Ofertas!</a>
    <a mat-button routerLink="soon" (click)="resetFilter()">Ayuda</a>
    <a mat-icon-button aria-label="Example icon button with a vertical three dot icon" routerLink="/cart" (click)="resetFilter()">
      <mat-icon matBadge="{{ cartItemCount }}" matBadgeColor="warn">shopping_cart</mat-icon>
    </a>
  </mat-toolbar>

  <mat-expansion-panel [expanded]="isExpanded">
    <div class="display-flex-row">
      <button mat-button *ngFor="let category of categoryList | order" (click)="onCategoryClick(category.id, category.imagen)">
        {{ category.nombre }}
      </button>
    </div>
  </mat-expansion-panel>
</div>
