<mat-toolbar class="display-flex-row" color="accent">
  <button mat-button (click)="resetFilter()">Productos</button>
  <button mat-button (click)="toggleExpandable()">Categorías</button>
  <button mat-button>Armá tu PC</button>
  <button mat-button>Ofertas!</button>
  <button mat-button>Ayuda</button>
</mat-toolbar>

<mat-expansion-panel [expanded]="isExpanded">
  <div class="display-flex-row">
    <button mat-button
            *ngFor="let category of categoryList | order"
            (click)="onCategoryClick(category.id)">
      {{ category.nombre }}
    </button>
  </div>
</mat-expansion-panel>

