@import 'assets/styles/custom-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$contrast-d: #444;
$contrast-l: #f5f3f3;
$primary: #FD590D;
$primary-75: #fd590ddc;
$accent: #25B3A0;
$warn: #CB0A00;

.color-accent {
  color: $accent;
}

.color-primary {
  color: $primary;
}

.color-warn {
  color: $warn;
}

.bg-primary {
  background:$primary-75;
  color: $contrast-l;
}

h1,h2,h3,h4,h5,h6 {
  color: $contrast-d;
}

.pointer {
  cursor: pointer;
}

.txt-center {
  text-align: center;
}

a {
  text-decoration: none;
}
